include *.cuda11
include *.cuda12
include *.in
recursive-include assets *.png
recursive-include data *.csv
recursive-include data *.mp4
recursive-include data *.png
recursive-include docs *.md
recursive-include lightning_pose *.py
recursive-include scripts *.ipynb
recursive-include scripts *.py
recursive-include scripts *.sh
recursive-include scripts *.yaml
recursive-include tests *.py
