torchvision
pytorch-lightning
pandas
pillow
pytest
matplotlib
typeguard
torchtyping
imgaug
sklearn
hydra-core
black
# from https://github.com/NVIDIA/DALI
# pip install --extra-index-url https://developer.download.nvidia.com/compute/redist --upgrade nvidia-dali-cuda110
--extra-index-url https://developer.download.nvidia.com/compute/redist
nvidia-dali-cuda110