Sphinx
sphinx_rtd_theme>=1.3.0
sphinx-rtd-dark-mode
sphinx-automodapi
sphinx-copybutton
sphinx-design
fiftyone
h5py
hydra-core
imgaug
kaleido
kornia
lightning
matplotlib
moviepy<2.0.0
numpy<2.0.0
opencv-python
pandas
pillow
plotly
pytest
scikit-learn
seaborn
streamlit
tensorboard
torchtyping
torchvision
transformers
typeguard
typing
nvidia-dali-cuda110
