Sphinx
sphinx_rtd_theme
sphinx-rtd-dark-mode
sphinx-automodapi
sphinx-copybutton
sphinx-design
fiftyone
h5py
hydra-core
imgaug
kaleido
kornia
lightning
matplotlib
moviepy
opencv-python
pandas
pillow
plotly
pytest
scikit-learn
seaborn
streamlit
tensorboard
torchtyping
torchvision
typeguard
typing
nvidia-dali-cuda110
segment_anything @ git+https://github.com/facebookresearch/segment-anything.git