Sphinx
sphinx-argparse
sphinx-automodapi
sphinx-copybutton
sphinx-design
sphinx-rtd-dark-mode
sphinx_rtd_theme>=1.3.0
aniposelib
h5py
hydra-core
imaug
kornia
lightning
matplotlib
moviepy>=2.0.0
numpy>=2.0.0
opencv-python-headless
pandas
pillow
pytest
scikit-learn
tensorboard
torchtyping
torchvision
transformers
typeguard
typing
nvidia-dali-cuda110
